{% extends "base.html" %}

{% load static %}

{% block content %}

    <div class="card" style="width: 18rem;">
        {% for item in prods %}
            <img src=" {{item.prod_img.url}} " class="card-img-top" alt="{{item.prod_name}}">
            <div class="card-body">
                <h5 class="card-title"> {{item.prod_name}} </h5>
                <p class="card-text"> {{item.prod_details}} </p>
                <a href=" {% url "single" item.prod_slug %} " class="btn btn-primary">See Details</a>
            </div>
        {% endfor %}
    </div>

{% endblock content %}