{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {% for d in data %}
            <div class="card" style="width: 18rem;">
                <div class="col mb-5">
                    <div class="card h-100">
                            
                        <img class="card-img-top" src="{{d.prod_img.url}}" alt="{{d.prod_name}}" />
                            
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ d.prod_name }}</h5>
                                <!-- Product price-->
                                ${{ d.prod_price }}
                            </div>
                        </div>
                            
                        <!-- Product actions-->
                        <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                            <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href=" {% url 'core:single' d.prod_slug %} ">View Details</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}